*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #f1f3f4;
    font-family: sans-serif
}

/*-------------------------------------------------Top Menu------------------------*/
.top-nav-bar
{
    height: 57px;
        top: 0;
        position: sticky;
        background: #fff;
        margin-bottom: 20px;
        border-bottom: 3px solid #092030;
        z-index: 2;
}
.logo
{
   height: 40px;
   margin: 5px 10px; 
}

/*search form*/
.form-control
{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #092030 !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
/*search form*/
.input-group-text
{
    background: hsl(162, 84%, 58%) !important;
    border: 1px solid hsl(162, 84%, 58%) !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}    
/*search form*/

.search-box
{
    display: inline-flex;
    width: 60%;
}
.fa-search
{
    color: white;
}

/*menu*/
.menu-bar
{
    width: 40%;
    height: 57;
    float: right;
}
.menu-bar ul 
{
    display: inline-flex;
    float: right;
}
.menu-bar ul li
{
    border-left: 1px solif #fff;    
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: #092030;
    cursor: pointer;
}
.menu-bar ul li a
{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.fa-shopping-basket
{
    margin-right: 5px;
}
/*nav menu resposiveness*/
@media only screen and (max-width: 980px)
{
    .top-nav-bar
    {
        height: 118px;
        border-bottom: 0;
    }
    .search-box
    {
        width: 100%;
    }
    .menu-bar
    {
        width: 100%;
    }
    .menu-bar ul
    {
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li 
    {
        height: 57px;
        width: 100%;
    }

}
/*---------------------side menu--------------------------*/
.side-menu
{
    height: 40%;
    width: 15%;
    margin-left: 5px;
    font-size: 18px;
    float: left;
    z-index: 2;
    background-color: #fff; 
}
.side-menu ul
{
    margin-left: 10px;
}
.side-menu ul li
{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover
{
    color: #092030;
}

/*hiding the sub menu*/
.side-menu ul li ul
{
    display: none;
    z-index: 10;
    top: 77px;
}
/*sub menu behavior / stylin */
.side-menu ul li:hover ul
{
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    color: black;
    background: white;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5)
}
.fa-angle-right
{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}

#menu-btn, #close-btn
{
    font-size:30px;
    margin: 10 px;
    color: #092030;
    display: none;
}

/*side bar menu resposiveness*/
@media only screen and (max-width: 980px)
{
    .side-menu
    {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px; 
        display:none;
    }
    .side-menu ul li ul 
    {
        top: 133px;
    }
    .side-menu ul li:hover ul 
    {
        margin-left: 31%;
    }
    #menu-btn
    {
        display: block;
    }
     
}

/*---------------slider css----------------*/
.slider
{
    width: 85%;
    margin-left: 15%;
    padding: 0 10px;
}
/*---------include for drop shadow around image sliders
.carousel
{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
*/

.carousel-indicators
{
    z-index: 1 !important;
}

/* slider responsive */
@media only screen and (max-width:980px)
{
    .slider
    {
        width: 100%;
        margin-left: 0;
    }
}
/*---------fetured categories / images css --------*/
.featured-categories
{
    margin: 50px 0;
}
.featured-categories img
{
    width: 100%;
    padding: 20px 0;
    transition: ls;
    cursor: pointer;
}
.featured-categories img:hover
{
    transform: scale(1.1)
}

/*----------2nd row "on sale"-------------------*/
.title-box 
{
background: #092030;
color: #fff;
width: 180px;
padding: 4px 10px;
height: 50px;
margin-bottom: 30px;
display: flex;
}
.title-box h2
{
    font-size: 24px;
}
.title-box::after
{
    content: '';
    border-top: 50px solid#092030;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}
/*----Product Top Css-------Buttons that appear when hovering images in the second row---*/

.product-top img 
{
    width: 100%;
}
.overlay-right
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa 
{
    cursor:pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;

}
.overlay-right .btn-secondary
{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right
{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
/*---Product Bottom---text below images in 2nd row----------------------*/
.product-bottom .fa 
{
    color: hsl(162, 84%, 58%);
    font-size: 10px;
}
.product-bottom h3
{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5
{
    font-size: 15px;
    padding-bottom: 10px;
}

/*----------------New Products-------------------------*/
.new-products
{
    margin: 50px 0;
}
/*---------------Website Features----------------------*/
.website-features
{
    margin: 60px 0;
}
.website-features img
{
    width:20%;
}
.feature-text
{
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}
.feature-box
{
    padding-top: 20px;
}

/*------------footer-----------------------------------*/
.footer
{
    margin-top: 50px;
    background: #092030;
    color: #fff;
}
.footer h1
{
    font-size: 15px;
    margin: 25px 0;
}
.footer p
{
    font-size: 12px;
}
.copyright
{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.footer hr 
{
    margin-top: 10px;
    background-color: #ccc;
}
.footer-image img
{
    width: 150px;
}

/*padding for footer icons*/
.footer .row .fa
{
    padding-right: 20px;
    font-size:15px;
}

/*--------Product Details-------*/
.single-product
{
    margin-top: 70px;
}
.new-arrival
{
    background:#092030;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px; 
}
.col-md-7 h2
{
    color: #555;
}
.single-product .fa
{
    color: #092030;
}
.single-product .price
{
    color: #555;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input
{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
/*--------------------Purchase Button Styling-------*/
.single-product .btn-primary
{
    background: #092030 !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}
/*-------------------Product Description Paragraph------*/
.product-description h6
{
    margin-top: 50px;
    color:#092030;
}
.product-description p
{
    margin-top: 30px;
}
.product-description hr
{
    margin-bottom: 50px;
}

/*Heading*/
.container h2 
{
    
    padding-top: 10px;
}